<div class="row">
  <div class="col-12 no-padding">
    <div class="card">
      <div class="card-header">
        <h5>Informacje Ogólne</h5></div>

      <div class="card-body">
        <p class="card-text"> Zakład Systemów Komputerowych jest częścią Instytutu Informatyki Uniwersytetu Śląskiego.
          Instytut ten należy do Wydziału Informatyki i Nauki o Materiałach. Kierownikiem zakładu jest prof. US dr hab.
          Piotr Porwik. Zakład zatrudnia trzynastu pracowników dydaktyczno–naukowych. Pracownicy realizują zadania
          związane
          z dydaktyką na studiach licencjackich, magisterskich i podyplomowych w dyscyplinie informatyka oraz prowadzą
          badania naukowe w zakresie sieci komputerowych oraz biometryki.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row row-eq-height">
  <div class="card col-md-4 no-padding">
    <div class="card-header">
      <h5>Kierownik Zakładu</h5></div>
    <div class="card-body h-100">
      <div class="card-text">
        <div class="offset-1 col-9">
          <a class="row" routerLink="employees/dr-hab-Piotr-Porwik"> dr hab. Piotr Porwik </a>
          <a class="row" href="mailto:piotr.porwik@us.edu.pl">piotr.porwik@us.edu.pl</a>
          <a class="row">tel: +4832 3689762</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card col-md-4 no-padding">
    <div class="card-header">
      <h5>Kontakt</h5></div>
    <div class="card-body">
      <div class="card-text">
        <div class="offset-1 col-9">
          <a class="row"> Renata Śpiewakowska</a>
          <a class="row" href="mailto:renata.spiewakowska@us.edu.pl">renata.spiewakowska@us.edu.pl</a>
          <a class="row">tel: +4832 3689760</a>
        </div>
      </div>
    </div>
  </div>


  <div class="card col-md-4 no-padding">
    <div class="card-header">
      <h5>Adres</h5></div>
    <div class="card-body">
      <div class="card-text">
        <div class="offset-1 col-9">
          <a class="row">Zakład Systemów Komputerowych ZSK</a>
          <a class="row">Instytutu Informatyki Uniwersytetu Śląskiego</a>
          <a class="row">41-200 Sosnowiec</a>
          <a class="row">ul. Będzińska 39</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="card col-md-3 no-padding">
    <div class="card-header">
      <h5>Organizujemy:</h5></div>
    <div class="card-body">
      <div class="card-text">
        <div class="col-12">
          <a class="row" href="http://mit.us.edu.pl/">
            <img src="assets/images/mit.png" alt="MIT" style="width: 100%">
          </a>
          <a class="row" href="http://techcisco.us.edu.pl/">
            <img src="assets/images/Cisco.png" alt="Cisco" style="width: 100%">
          </a>
          <a class="row" href="http://zsk.ii.us.edu.pl/uploads/zsk/Cyberoam.pdf">
            <img src="assets/images/cyberoam.png" alt="CyberRoam" style="width: 100%">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 card  no-padding">
        <div class="card-body">
          <iframe  src="https://www.youtube.com/embed/24UgF7RYrgM" class="video"  frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 card  no-padding ">
        <div class="card-header"><h5>Współpraca</h5></div>
        <div class="card-text">
          <div class="col-12">
            <a class="row" href="http://www.upc.pl/kariera/">
              <img class="image" src="assets/images/upc.gif" alt="UPC" style="width: 40%">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col-md-3 no-padding">
    <div class="card-header">
      <h5>Specjalności zakładu:</h5></div>
    <div class="card-body">
      <div class="card-text">
        <div class="col-12 no-padding">
          <ul>
            <li>Architektura komputerów</li>
            <li>Sieciowe systemy operacyjne</li>
            <li>Interfejsy sieciowe</li>
            <li>Mikrokomputery jednoukładowe</li>
            <li>Systemy biometryczne</li>
            <li>Tematyka e-learning</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">

</div>

