.image {
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;


  -webkit-box-shadow: 0px 0px 0px 9px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 0px 0px 9px rgba(207, 207, 207, 1);
  box-shadow: 0px 0px 0px 9px rgba(207, 207, 207, 1);
}

.card {
  background: lightgray;
  border-style: solid;
  border-width: 5px;
  border-color: darkgrey
}

.card-margin {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}



hr.style {
  margin-left: 10%;
  margin-right: 10%;
}
@media (min-width: 400px) {
  .text-justify-sm{
    text-align: center;
  }
}
@media (min-width: 992px) {
  .text-justify-md{
    text-align: left;
  }
}
