<!--<img  src="assets/images/building.jpg" class="image" alt="Head image">-->
<!--<div class="d-sm-none d-md-block  col-md-12">
  <img class="image" src="/assets/images/building.jpg" alt="Building">
</div>-->
<div class="row">
  <div class="d-none d-lg-block  col-md-12 px-0">
    <img class="image" src="/assets/images/building.jpg" alt="Building">
  </div>
</div>
<div class="row label" >
  <div class="col-md-3 no-padding" style="width: 100%">
    <h2 style="text-align: center"> Uniwersytet Śląski </h2>
  </div>
  <div class="col-md-1 no-padding">
    <img class="mx-auto" class="logo" src="assets/logo_us.png" alt="UŚ">
  </div>

  <div class="col-md-4 no-padding" style="width: 100%">
    <h2 style="text-align: center">Instytut Informatyki w Sosnowcu</h2>
  </div>
  <div class="col-md-4 no-padding" style="width: 100%">
    <h2 style="text-align: center">Zakład Systemów Komputerowych</h2>
  </div>
  <div class="col-12 d-sm-none d-md-block"  style="height: 50px"></div>
</div>


